.box-success, .box-cancel{
    text-align: center;
    padding-top: 180px;
    font-size: 25px;
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

.box-success{
    background-color: aquamarine;
}

.box-cancel{
    background-color: rgb(219, 80, 80);
}