.no-products{
    font-weight: bold;
    text-align: center;
}

.product{

    div{
        display: inline-block;
    }

    .name{
        width: 30%;
        max-width: 200px;
        font-weight: bold;
    }

    .description{
        width: 50%;
        max-width: 400px;
    }

    .price{
        width: 30%;
        max-width: 200px;
        font-weight: bold;
    }
}